*
{
    margin: 0;
    padding: 0;
}

nav
{
    position:fixed;
    top: 0;
    left: 0;
    width: 97%;
    margin-left: 20px;
    margin-top: 10px;
    height: 12%;
    padding:10px 90px;
    box-sizing:border-box;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
}

nav.logo
{
    padding: 22px 20px;
    height: 20px;
    margin-top: 50px;
    float: left;
    font-size: 500px;
    font-weight:bold;
    text-transform:uppercase;
    color: #fff;
}

nav ul
{
    list-style: none;
    float:right;
    margin:0;
    padding: 0;
    display:flex;
    margin-top: -30px
}

nav ul li a
{
    line-height:80px;
    color:#fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}

nav ul li a:hover
{
    color: black;
    background: white;
    border-radius: 7px;
    transform: scale(1.1);
}

.main
{
    width: 100%;
    background-image: url(../images/goa3.jpg);
    background-position: center;
    background-size: cover;
    height: 120vh;
}

.table
{
    font-family: 'Arial';
    font-size: 20px;
    margin-top: 80px;
}

.table .th1
{
    margin-top: 90px;
    margin-left: 150px;
}

.table .th2
{
    margin-top: 10px;
    margin-left: 150px;
}

.service1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -450px;
    margin-left: -800px;
}

.service1 .card
{
    display: grid;
    border-style: solid;
    border-color: #0096DA;
    border-radius: 20px;
    border-width: 3px;
    position: relative;
    background: linear-gradient(to bottom right, white,#74a2a6);
    font-family: 'Arial';
    color: black;
    margin: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    width: 250px;
    height: 75px;
    transition: 0.5s ease;
    cursor: pointer;
}

.service1 .card:hover
{
    transform: scale(1.1);
    box-shadow: 3px 3px 3px 0 #0096DA;  
}

.service1 .card .content
{
    margin-top: 25px;
}
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color:#33383b ;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: -20px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 0.5px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
} 